{% extends "base.html" %}

{% block content %}
    <h2>Наш проект "Шаг за шагом" - это система для хранения и создания маршрута прогулок.<br>
На нашем веб-сервисе вы сможете составить маршрут прогулки с помощью встроеной системы поиска развлекательных организаций и мест для проведения досуга.<br>
Сервис будет хранить созданные вами маршруты и сохранять дату прогулок.<br>
Система аккаунтов с хэшированием паролей в базе данных будет обеспечивать безопасность и непрекосновенность данных.<br>
Маршрутами можно будет делиться с людьми, или использовать уже созданные другими пользователями маршруты, что<br>
  сделает каждую прогулку незабываемой.<br>
Маршруты будут удобно отображаться на карте.<br>
</h2>
{% endblock %}
