{% extends "base.html" %}

{% block content %}
    <h3>{{ route_name }}</h3>
    <img src="/static/routes_images/route_{{ route_id }}.png" class="border border-4 rounded-1" id='img_border' alt="Изображение карты маршрута" width="600" height="450">
    <div class="route_panel border border-4 rounded-1">
        <h1>hello hellohello hellohello hellohello hellohello hellohello hello hello hellohello hellohello hellohello hellohello hellohello hello</h1>
        <h1>hello hellohello hellohello hellohello hellohello hellohello hello hello hellohello hellohello hellohello hellohello hellohello hello</h1>
        <h1>hello hellohello hellohello hellohello hellohello hellohello hello hello hellohello hellohello hellohello hellohello hellohello hello</h1>
        <h1>hello hellohello hellohello hellohello hellohello hellohello hello hello hellohello hellohello hellohello hellohello hellohello hello</h1>
        <h1>hello hellohello hellohello hellohello hellohello hellohello hello hello hellohello hellohello hellohello hellohello hellohello hello</h1>
        <h1>hello hellohello hellohello hellohello hellohello hellohello hello hello hellohello hellohello hellohello hellohello hellohello hello</h1>
    </div>
{% endblock %}