{% extends "base.html" %}

{% block content %}
    <h1>Шаг за шагом</h1><br>
    <div class="user_routes">
        {% for item in routes %}
            <div class="border border-bottom border-top border-1">
                <div class="user_route">
                    <a href="/Route/{{item['route_id']}}">{{ item['route_name'] }}</a>
                    <br>
                    <p>
                        {{ item['description'] }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}